/* Created Using Easy HTML v1.4.5 */
/* https://play.google.com/store/apps/details?id=ak.andro.easyhtml */

body { background-color: #F617C4;}

 h1 { color: #FFFFFF; font-family: TimesNewRoman; text-align: center; }

img {  padding: 80; text-align: center;  }
